/* @import './normalize.css'; */

html, body, #app {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

/* 面包屑 首页 字体颜色 */
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
  color: rgb(62, 113, 252) !important;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

.el-cascader-menu__list {
  height: 200px;
}

.zk-table__cell-inner {
  width: 180px;
}

.el-steps {
  margin: 15px 0;
}

.el-step__title {
  font-size: 13px;
}

.ql-editor {
  min-height: 300px;
}